
@import url(http://fonts.googleapis.com/css?family=Delius+Swash+Caps|Lily+Script+One|Berkshire+Swash|Sofia|Merienda+One|Salsa|Aclonica);
 /* fonts-family
	
	font-family: 'Berkshire Swash', cursive;
	font-family: 'Delius Swash Caps', cursive;
	font-family: 'Lily Script One', cursive;
	font-family: 'Sofia', cursive;
	font-family: 'Merienda One', cursive;
	font-family: 'Salsa', cursive;
	font-family: 'Aclonica', sans-serif;
*/

.outer {
    display: table;
    position: absolute;
    height: 60%;
    width: 95%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
	width: 65%;
    font-size: 27px;
}

div.quote{
	text-align: center;
}
